Pandas is a python module that makes data science easy and effective.

csv module takes time, might have bugs, big code etc
with pandas we can do this easily, with few lines of code.

In [3]:
import pandas as pd
df = pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [9]:
print(df['Temperature'].max())  #gives max temp
print(df['EST'][df['Events']=='Rain'])  #gives days on which it rains
print(df['WindSpeedMPH'].mean())

50
8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object
6.89285714286

Process of Cleaning messy data is called data munging or data wrangling.
In csv file data is messy.
To replace NA fields

In [10]:
df.fillna(0,inplace=True)
print(df['WindSpeedMPH'].mean())

6.22580645161

In df NaN is replaced by 0 because of 'inplace=True'; even NaN in Events also

In [11]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

Dataframes

Dataframe is main object in Pandas. It is used to represent rows and columns (sheet like data).

In [4]:
df = pd.read_csv('nyc_weather.csv') #create a dataframe from a CSV file
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [39]:
weather_data = {
    'name':['Aditya','Tanmay','Deepankar','Suyog','Mami'],
    'sname':['Jain','Dube','Ojha','Boro','Mami']
}
my_df = pd.DataFrame(weather_data) #create Dataframe from dictionary
my_df

        name sname
0     Aditya  Jain
1     Tanmay  Dube
2  Deepankar  Ojha
3      Suyog  Boro
4       Mami  Mami

In [17]:
rows , columns = my_df.shape #return a tuple containing (row,columns)
print((rows,columns))

(5, 2)

If your datadrame has 1000s of rows it print them all if we print df.
So to print few rows and header use following

In [18]:
df.head() #print first 5 rows

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [ ]:
df.tail(3) #print last 3 rows
df[2:5]  #print rows 2 to 4

In [19]:
df.columns # print all columns
df['Events'] #print Events Columns

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [20]:
df[['Events','Temperature']].head() #print few columns only

  Events  Temperature
0    NaN           38
1    NaN           36
2    NaN           40
3    NaN           25
4    NaN           20

In [ ]:
df['Temperature'].mean()
df['Temperature'].min()
df['Temperature'].stf()
df['Temperature'].min()

# Printing Statistics of Data using describe function.

In [21]:
df['Temperature'].describe() #describe particular column

count    31.000000
mean     34.677419
std       7.639315
min      20.000000
25%      29.000000
50%      35.000000
75%      39.500000
max      50.000000
Name: Temperature, dtype: float64

In [22]:
df.describe() #decribe whole table

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

We can also use Dataframe as a Sql table and use conditions like WHERE in SQL

In [ ]:
print( df['Temperature'][df['Temperature']>40] ) #print temperatures which are greater than 40
print( df[['Temperature','EST']][df['Temperature']>40] ) #print EST,temperatures which are greater than 40
print( df[df['Temperature']==df['Temperature'].max()] ) #print row with max temperature

In [40]:
print(my_df.index)
my_df.set_index('name',inplace=True) #inplace modify df otherwise it will return new df
print(my_df.index)

RangeIndex(start=0, stop=5, step=1)
Index(['Aditya', 'Tanmay', 'Deepankar', 'Suyog', 'Mami'], dtype='object', name='name')

The advantage of doing this is 
1. We can run loc

In [45]:
print(my_df.loc['Aditya'])
df.reset_index(inplace=True) #reset index
print(df.index)

sname    Jain
Name: Aditya, dtype: object
RangeIndex(start=0, stop=31, step=1)

Different ways of creating Dataframe
1. From CSV
2. Using Excel
3. py Dict
4. list of tuples
5. list of dictionaries
there are other ways too like json,pickle etc see in documentation

In [ ]:
# df = pd.read_csv("weather_data.csv")  #from CSV
# df = pd.read_excel("weather_data.xlsx","Sheet1") #from excel sheet
#df = pd.DataFrame(dict)
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',24,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df1 = pd.DataFrame(weather_data,columns=["day","temperature","windspeed","event"]) #from list of tubles
print(df1)
weather_data = [
    {"day":"1/1/2017","temp":32,'windspeed':6,'event':'Rain'},
    {"day":"1/2/2017","temp":34,'windspeed':2,'event':'Snow'}
]
df2 = pd.DataFrame(weather_data)
print(df2)

# Adding New Column

In [ ]:
df1['newColumn'] = col   #Column is new column
df1['newColumn'] = 0     #initialize column with all value 0

# Concat two table one after other

In [ ]:
concat = train_df.append(test_df, ignore_index=True) #concat is new table

# Print all unique values for a column

In [5]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

# view datatypes of all columns

In [14]:
print(df.dtypes)
df.Events.fillna('0',inplace=True)
df.Events.unique()

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

array(['0', 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

# Split training and Testing Data

In [ ]:
# split train and test sets
train_le = df.iloc[:891].copy()
test_le = df.iloc[891:].copy()

# Reading CSV File-

In [ ]:
df= pd.read_csv("weather",skiprows=2) #skip 2 rows
df = pd.read_csv("weather",header=2) #header located at row 2
df = pd.read_csv("weather",header=None,names=["temperature",humidity]) #if headers are not given
df = pd.read_csv("weather",nrows=3) #read only 3 rows except header
df = pd.read_csv("weather",na_values=["not avaialble","n.a","na"]) #turn na_values to NaN
df = pd.read_csv("weather",na_values={
        'eps':["not available","n.a."],
        'revenue':["not available","n.a.",-1],
        'people':["na"]
    }) #if different columns have different NA values

#other useful properties also look in documentation

# Writing CSV file-

In [ ]:
df.to_csv('new.csv') #write to csv with index
df.to_csv('new.csv',index=False) #write to csv without index
df.to_csv('new.csv',columns=['temperarture','humidity']) #write only 2 columns
df.to_csv('new.csv',header=False) #write without header

# Handle Missing Data (with replace func)-

In [ ]:
import numpy as np
new_df = df.replace(-9999,np.NaN) #replace -9999 with NaN
new_df = df.replace([-9999,-8888],np.NaN) #replace -9999 and -8888 with NaN
new_df = df.replace({
        'temperature': -9999,
        'windspeed' : [-9999,-8888],
        'event':'0'
    },np.NaN) #differnt column have diff na value
new_df = df.replace({
    -9999 : np.NaN,
    "No Event":'Sunny'
    }) #replace different value differently (mapping)
new_df = df.replace({
    'temperature':'[A-Za-z]',
    'windspeed':'[A-Za-z]'
},'',regex=True) #convert 7 mph to 7 or 30 c to 30
new_df = df.replace(['poor','average','good'],[1,2,3]) #pretty good for data processing

# Handle Missing Data (fillna,dropna,interpolate)

In [ ]:
df = pd.read_csv('weather_data.csv',parse_dates=['day']) #convert date(str) to timestamp
newdf = df.fillna({
        'temperature':0,
        'windspeed':0,
        'event':'No Event'
    }) #fill NA values with different values

#but temperature is not 0. So lets estimate value
new_df = df.fillna(method='ffill') #forward fill
new_df = df.fillna(method='bfill',limit=1) #backward fill and limit to 1 row only
# see documentation

#but in NA, value should be in between both value
new_df = df.interpolate() #gives better guess
#lets interpolate it according to time
new_df = df.interpolate(method='time') #powerful feature

new_df = df.dropna() #dont consider NaN rows
new_df = df.dropna(how='all') #drop if all values are NaN
new_df = df.dropna(thresh=1) #keep row if it has atleast 1 valid value