# Homework 1. Exploratory Data Analysis

Due: Thursday, September 18, 2014 11:59 PM

<a href=https://raw.githubusercontent.com/cs109/2014/master/homework/HW1.ipynb download=HW1.ipynb> Download this assignment</a>

---

## Introduction

In this homework we ask you three questions that we expect you to answer using data. For each question we ask you to complete a series of tasks that should help guide you through the data analysis. Complete these tasks and then write a short (100 words or less) answer to the question.

**Note**: We will briefly discuss this homework assignment on Thursday in class.

#### Data
For this assignment we will use two databases: 

1. The [Sean Lahman's Baseball Database](http://seanlahman.com/baseball-archive/statistics) which contains the "complete batting and pitching statistics from 1871 to 2013, plus fielding statistics, standings, team stats, managerial records, post-season data, and more. For more details on the latest release, please [read the documentation](http://seanlahman.com/files/database/readme2012.txt)."

2. [Gapminder](http://www.gapminder.org) is a great resource that contains over [500 data sets](http://www.gapminder.org/data/) related to world indicators such as income, GDP and life expectancy. 


#### Purpose

In this assignment, you will learn how to: 

a. Load in CSV files from the web. 

b. Create functions in python. 

C. Create plots and summary statistics for exploratory data analysis such as histograms, boxplots and scatter plots. 


#### Useful libraries for this assignment 

* [numpy](http://docs.scipy.org/doc/numpy-dev/user/index.html), for arrays
* [pandas](http://pandas.pydata.org/), for data frames
* [matplotlib](http://matplotlib.org/), for plotting

---

In [2]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Problem 1

In Lecture 1, we showed a plot that provided evidence that the 2002 and 2003 Oakland A's, a team that used data science, had a competitive advantage. Since, others teams have started using data science as well. Use exploratory data analysis to determine if the competitive advantage has since disappeared.

#### Problem 1(a) 
Load in [these CSV files](http://seanlahman.com/files/database/lahman-csv_2014-02-14.zip) from the [Sean Lahman's Baseball Database](http://seanlahman.com/baseball-archive/statistics). For this assignment, we will use the 'Salaries.csv' and 'Teams.csv' tables. Read these tables into a pandas `DataFrame` and show the head of each table. 

**Hint** Use the [requests](http://docs.python-requests.org/en/latest/), [StringIO](http://docs.python.org/2/library/stringio.html) and [zipfile](https://docs.python.org/2/library/zipfile.html) modules to get from the web.

In [35]:
sal = pd.read_csv('baseball/Salaries.csv');
sal.head(3)

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000

In [39]:
teams = pd.read_csv('baseball/Teams.csv');
teams.head(3)

,yearID,lgID,teamID,franchID,divID,Rank,G,Ghome,W,L,...,DP,FP,name,park,attendance,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro
0,1871,NaN,BS1,BNA,NaN,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NaN,CH1,CNA,NaN,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NaN,CL1,CFC,NaN,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1

#### Problem 1(b)

Summarize the Salaries DataFrame to show the total salaries for each team for each year. Show the head of the new summarized DataFrame.

In [41]:
salSum = sal
salSum['newC'] = sal['yearID']+':'+sal['teamID']
salSum

,yearID,teamID,lgID,playerID,salary,newC
0,1985,ATL,NL,barkele01,870000,0 1985\n1 1985\n2 1985\n3...
1,1985,ATL,NL,bedrost01,550000,0 1985\n1 1985\n2 1985\n3...
2,1985,ATL,NL,benedbr01,545000,0 1985\n1 1985\n2 1985\n3...
3,1985,ATL,NL,campri01,633333,0 1985\n1 1985\n2 1985\n3...
4,1985,ATL,NL,ceronri01,625000,0 1985\n1 1985\n2 1985\n3...
5,1985,ATL,NL,chambch01,800000,0 1985\n1 1985\n2 1985\n3...
6,1985,ATL,NL,dedmoje01,150000,0 1985\n1 1985\n2 1985\n3...
7,1985,ATL,NL,forstte01,483333,0 1985\n1 1985\n2 1985\n3...
8,1985,ATL,NL,garbege01,772000,0 1985\n1 1985\n2 1985\n3...
9,1985,ATL,NL,harpete01,250000,0 1985\n1 1985\n2 1985\n3...
10,1985,ATL,NL,hornebo01,1500000,0 1985\n1 1985\n2 1985\n3...
11,1985,ATL,NL,hubbagl01,455000,0 1985\n1 1985\n2 1985\n3...
12,1985,ATL,NL,mahleri01,407500,0 1985\n1 1985\n2 1985\n3...
13,1985,ATL,NL,mcmurcr01,275000,0 1985\n1 1985\n2 1985\n3...
14,1985,ATL,NL,mumphje01,775000,0 1985\n1 1985\n2 1985\n3...
15,1985,ATL,NL,murphda05,1625000,0 1985\n1 1985\n2 1985\n3...
16,1985,ATL,NL,oberkke01,616667,0 1985\n1 1985\n2 1985\n3...
17,1985,ATL,NL,perezpa01,450000,0 1985\n1 1985\n2 1985\n3...
18,1985,ATL,NL,perryge01,120000,0 1985\n1 1985\n2 1985\n3...
19,1985,ATL,NL,ramirra01,750000,0 1985\n1 1985\n2 1985\n3...
20,1985,ATL,NL,suttebr01,1354167,0 1985\n1 1985\n2 1985\n3...
21,1985,ATL,NL,washicl01,800000,0 1985\n1 1985\n2 1985\n3...
22,1985,BAL,AL,boddimi01,625000,0 1985\n1 1985\n2 1985\n3...
23,1985,BAL,AL,dauerri01,480000,0 1985\n1 1985\n2 1985\n3...
24,1985,BAL,AL,davisst02,437500,0 1985\n1 1985\n2 1985\n3...
25,1985,BAL,AL,dempsri01,512500,0 1985\n1 1985\n2 1985\n3...
26,1985,BAL,AL,dwyerji01,375000,0 1985\n1 1985\n2 1985\n3...
27,1985,BAL,AL,flanami01,641667,0 1985\n1 1985\n2 1985\n3...
28,1985,BAL,AL,fordda01,450000,0 1985\n1 1985\n2 1985\n3...
29,1985,BAL,AL,grosswa01,483333,0 1985\n1 1985\n2 1985\n3...
...,...,...,...,...,...,...
26398,2016,TOR,AL,stromma01,515900,0 1985\n1 1985\n2 1985\n3...
26399,2016,TOR,AL,tholejo01,800000,0 1985\n1 1985\n2 1985\n3...
26400,2016,TOR,AL,travide01,511200,0 1985\n1 1985\n2 1985\n3...
26401,2016,TOR,AL,tulowtr01,20000000,0 1985\n1 1985\n2 1985\n3...
26402,2016,WSN,NL,barreaa01,519400,0 1985\n1 1985\n2 1985\n3...
26403,2016,WSN,NL,belisma01,1250000,0 1985\n1 1985\n2 1985\n3...
26404,2016,WSN,NL,drewst01,3000000,0 1985\n1 1985\n2 1985\n3...
26405,2016,WSN,NL,espinda01,2875000,0 1985\n1 1985\n2 1985\n3...
26406,2016,WSN,NL,gonzagi01,12100000,0 1985\n1 1985\n2 1985\n3...
26407,2016,WSN,NL,harpebr03,5000000,0 1985\n1 1985\n2 1985\n3...
26408,2016,WSN,NL,heisech01,1250000,0 1985\n1 1985\n2 1985\n3...
26409,2016,WSN,NL,kellesh01,4000000,0 1985\n1 1985\n2 1985\n3...
26410,2016,WSN,NL,lobatjo01,1387500,0 1985\n1 1985\n2 1985\n3...
26411,2016,WSN,NL,murphda08,8000000,0 1985\n1 1985\n2 1985\n3...
26412,2016,WSN,NL,papeljo01,10936574,0 1985\n1 1985\n2 1985\n3...
26413,2016,WSN,NL,perezol01,3000000,0 1985\n1 1985\n2 1985\n3...
26414,2016,WSN,NL,petityu01,2500000,0 1985\n1 1985\n2 1985\n3...
26415,2016,WSN,NL,ramoswi01,5350000,0 1985\n1 1985\n2 1985\n3...
26416,2016,WSN,NL,rendoan01,2800000,0 1985\n1 1985\n2 1985\n3...
26417,2016,WSN,NL,reverbe01,6250000,0 1985\n1 1985\n2 1985\n3...
26418,2016,WSN,NL,riverfe01,516100,0 1985\n1 1985\n2 1985\n3...
26419,2016,WSN,NL,roarkta01,543400,0 1985\n1 1985\n2 1985\n3...
26420,2016,WSN,NL,robincl01,534900,0 1985\n1 1985\n2 1985\n3...
26421,2016,WSN,NL,rossjo01,514400,0 1985\n1 1985\n2 1985\n3...
26422,2016,WSN,NL,scherma01,22142857,0 1985\n1 1985\n2 1985\n3...
26423,2016,WSN,NL,strasst01,10400000,0 1985\n1 1985\n2 1985\n3...
26424,2016,WSN,NL,taylomi02,524000,0 1985\n1 1985\n2 1985\n3...
26425,2016,WSN,NL,treinbl01,524900,0 1985\n1 1985\n2 1985\n3...
26426,2016,WSN,NL,werthja01,21733615,0 1985\n1 1985\n2 1985\n3...
26427,2016,WSN,NL,zimmery01,14000000,0 1985\n1 1985\n2 1985\n3...

#### Problem 1(c)

Merge the new summarized Salaries DataFrame and Teams DataFrame together to create a new DataFrame
showing wins and total salaries for each team for each year year. Show the head of the new merged DataFrame.

**Hint**: Merge the DataFrames using `teamID` and `yearID`.

#### Problem 1(d)

How would you graphically display the relationship between total wins and total salaries for a given year? What kind of plot would be best? Choose a plot to show this relationship and specifically annotate the Oakland baseball team on the on the plot. Show this plot across multiple years. In which years can you detect a competitive advantage from the Oakland baseball team of using data science? When did this end? 

**Hints**: Use a `for` loop to consider multiple years. Use the `teamID` (three letter representation of the team name) to save space on the plot.

In [4]:
#your code here

#### Problem 1(e):

**For AC209 Students**: Fit a linear regression to the data from each year and obtain the residuals. Plot the residuals against time to detect patterns that support your answer in 1(d).

In [5]:
#your code here

## Discussion for Problem 1

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---

## Problem 2

Several media reports have demonstrated the income inequality has increased in the US during this last decade. Here we will look at global data. Use exploratory data analysis to determine if the gap between Africa/Latin America/Asia and Europe/NorthAmerica has increased, decreased or stayed the same during the last two decades.

#### Problem 2(a)

Using the list of countries by continent from [World Atlas](http://www.worldatlas.com/cntycont.htm) data, load in the `countries.csv` file into a pandas DataFrame and name this data set as `countries`.  This data set can be found on Github in the 2014_data repository [here](https://github.com/cs109/2014_data/blob/master/countries.csv).

In [6]:
#your code here

Using the [data available on Gapminder](http://www.gapminder.org/data/), load in the [Income per person (GDP/capita, PPP$ inflation-adjusted)](https://spreadsheets.google.com/pub?key=phAwcNAVuyj1jiMAkmq1iMg&gid=0) as a pandas DataFrame and name this data set as `income`.

**Hint**: Consider using the pandas function `pandas.read_excel()` to read in the .xlsx file directly.

In [7]:
#your code here

Transform the data set to have years as the rows and countries as the columns. Show the head of this data set when it is loaded.

In [8]:
#your code here

#### Problem 2(b)

Graphically display the distribution of income per person across all countries in the world for any given year (e.g. 2000).  What kind of plot would be best?

In [9]:
#your code here

#### Problem 2(c)

Write a function to merge the `countries` and `income` data sets for any given year.

In [ ]:
"""
Function
--------
mergeByYear

Return a merged DataFrame containing the income, 
country name and region for a given year. 

Parameters
----------
year : int
    The year of interest

Returns
-------
a DataFrame
   A pandas DataFrame with three columns titled 
   'Country', 'Region', and 'Income'. 

Example
-------
>>> mergeByYear(2010)
"""
#your code here

#### Problem 2(d) 

Use exploratory data analysis tools such as histograms and boxplots to explore the distribution of the income per person by region data set from 2(c) for a given year. Describe how these change through the recent years?

**Hint**: Use a `for` loop to consider multiple years.

In [11]:
#your code here

## Discussion for Problem 2

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---

## Problem 3

In general, if group A has larger values than group B on average, does this mean the largest values are from group A? Discuss after completing each of the problems below.

#### Problem 3(a)

Assume you have two list of numbers, X and Y, with distribution approximately normal. X and Y have standard deviation equal to 1, but the average of X is different from the average of Y.  If the difference in the average of X and the average of Y is larger than 0, how does the proportion of X > a compare to the proportion of Y > a?

Write a function that analytically calculates the ratio of these two proportions: Pr(X > a)/Pr(Y > a) as function of the difference in the average of X and the average of Y. 

**Hint**: Use the `scipy.stats` module for useful functions related to a normal random variable such as the probability density function, cumulative distribution function and survival function. 

**Update**: Assume Y is normally distributed with mean equal to 0.

Show the curve for different values of a (a = 2,3,4 and 5).

In [ ]:
"""
Function
--------
ratioNormals

Return ratio of these two proportions: 
    Pr(X > a)/Pr(Y > a) as function of 
    the difference in the average of X 
    and the average of Y. 

Parameters
----------
diff : difference in the average of X 
    and the average of Y. 
a : cutoff value

Returns
-------
Returns ratio of these two proportions: 
    Pr(X > a)/Pr(Y > a)
    
Example
-------
>>> ratioNormals(diff = 1, a = 2)
"""
#your code here

In [13]:
#your code here

#### Problem 3(b)

Now consider the distribution of income per person from two regions: Asia and South America. Estimate the average income per person across the countries in those two regions. Which region has the larger average of income per person across the countries in that region? 

**Update**: Use the year 2012.

In [14]:
#your code here

#### Problem 3(c) 

Calculate the proportion of countries with income per person that is greater than 10,000 dollars. Which region has a larger proportion of countries with income per person greater than 10,000 dollars? If the answer here is different from the answer in 3(b), explain why in light of your answer to 3(a).

**Update**: Use the year 2012.

In [15]:
#your code here

#### Problem 3(d)

**For AC209 Students**: Re-run this analysis in Problem 3 but compute the average income per person for each region, instead of the average of the reported incomes per person across countries in the region. Why are these two different? Hint: use this [data set](https://spreadsheets.google.com/pub?key=phAwcNAVuyj0XOoBL_n5tAQ&gid=0).

In [16]:
#your code here

## Discussion for Problem 3

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---